body{
	background-color:#E6EBEC;
}
.text-center {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.error {
	color: red;
}
td {
	text-align: center;
}
thead td{
	font-weight:bold;
}

.container {
    margin:0px;
    width:100%;
    padding:0px;
}
article{
	padding:5px;
	float: left;
    width: 100%;
}
.head{
	background-color: #B9CBD5;
	font-size:12px;
	font-weight:bold;
	border-style: groove;
	border-top-right-radius: 8px;	
	border-top-left-radius: 8px;
	padding: 10px;	
}
.bold{
	font-weight:bold;
}
a{
	text-decoration: underline;
}
th{
	color: rgba(0, 0, 255, 0.64);
}
table th{
   text-align: center;   
}
input[type="number"] {
	width : 38px;
	height: 23px;
    border: 0px;
	text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
select {
	width : 145px;
	height: 23px;
	border: 0px;
}

table, th, td {
   border: 1px solid black;
}
.username {
	font-size: x-large;
	text-align: center;
	font-weight:bold;
}